<div class="class">

  <h3>Sem reducer</h3>
  <p>{{ counter }}</p>
  <button (click)="counter = counter + 1">Incrementar</button>
  <button (click)="counter = counter - 1">Decrementar</button>

  <app-child [counter]="counter"></app-child>

</div>

<div class="class">

  <h3>Com reducer</h3>
  <!-- o pipe async retorna o valor mais recente emitido -->
  <p>{{ counterWithReducer$ | async }}</p>
  <button (click)="incrementaContador()">Incrementar</button>
  <button (click)="decrementaContador()">Decrementar</button>

  <!-- é possível ver que no componente abaixo não é preciso passar a variável,
    pois ela é acessada pelo store no proprio componente-->
  <app-child-reducer></app-child-reducer>

</div>

<nav>
  <a routerLink="/two-way">Aula anterior</a>
</nav>
